{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my blog!</p>
            <p>Visit my Github page <a href="https://github.com/tuning-ware/">here</a> to see my other stuff.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts</a>
                <a class="btn btn-primary" href="/posts/new" role="button">New Post</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}